<?xml version="1.0"?>
<model>
  <name>cartpole</name>
  <version>1.0</version>
  <sdf version="1.8">cartpole.sdf</sdf>

  <author>
    <name>Lucas Wendland</name>
    <email>lwendlan@umd.edu</email>
  </author>

  <description>
  Cart Pole : A 2 Wheeled Cart with a Swinging Pole Attached to the top
  </description>
</model>
