<?xml version="1.0"?>
<model>
  <name>reacher</name>
  <version>1.0</version>
  <sdf version="1.8">reacher.sdf</sdf>

  <author>
    <name>Lucas Wendland</name>
    <email>lwendlan@umd.edu</email>
  </author>

  <description>
    Auto-converted from Gymnasium MuJoCo MJCF source:
    models/mujoco_sources/reacher.xml
  </description>
</model>
